export CONTEXT7_API_KEY=
export ELEVENLABS_API_KEY=
export EXA_API_KEY=
export JIRA_API_TOKEN=
export JIRA_BASE_URL=
export JIRA_EMAIL=
export POSTGRESQL_CONNECTION_STRING=postgresql://postgres:postgres@localhost:5432/postgres